/*_________________DESKTOP CSS_________________*/
/*GENERAL CSS*/
html, body {    /*if this affects your website, change to a container*/
  height: 100%;
}

.hidden {
  display: none;
}

#map_intro {
  width: 160px;
  right: 10px !important;
  top: 10px !important;
  background-color: white;
  font-size: 16px;
  text-align: center;
  font-family: 'Gotham-Book', Arial;
  cursor: pointer;
  padding: 10px 0;
  color: grey;
}

.lightgrey {
  background-color: lightgrey;
}

#legend_help {
  position: absolute;
  bottom: 60px !important;
  left: 10px !important;
  opacity: 0;
  width: 406px;
  height: 0;
  padding: 8px;
  background-color: white;
  z-index: 9 !important;
  color: grey;
  font-size: 14px;
  border-radius: 2px;
}

#legend_help:hover {
  cursor: pointer;
}

#map_filters {
  cursor: pointer;  
  font-size: 16px;
  background-color: white;
  color: grey;
  opacity: 0;
  width: 160px;
  text-align: center;
  position: absolute;
  right: 10px !important;
  top: 48px !important;
  font-family: 'Gotham-Book', Arial;
}

#map_filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

#map_filters li:hover {
  background-color: lightgrey;
}

.legend button div {
  padding: 1px;
  font-size: 16px;
  position: absolute;
  top: 3px;
}

@media (orientation: portrait)  {
  .legend button div {
    padding: 7px 0;
    margin: 1px;
    position:relative;
    top:0;
  }

  #toggleSliderBtn {
    line-height: 100%;
  }
  #legend_help {
    bottom: 35px !important;
    left: 142px !important;
    height: 86px;
  }
}

.box .help {
  margin: 0 5px;
}

.box .help:hover {
  cursor: pointer;
}
.iw-bottom-gradient {
  position: absolute;
  width: 92%;
  height: 25px;
  bottom: 10px;
  right: 20px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

#legendBtn #change_arrow {
  font-size: 16px;
  position: absolute;
  top: 4.5px;
  right: 9px;
  padding: 0;
  line-height: 100%;
}


/*LEGEND CSS*/
.legend {
  background-color: white; 
  border-radius: 2px;
  font-family: 'Gotham-Book', Arial;
  left: 10px !important;
  bottom: 35px !important;
  overflow: hidden;
  z-index: 10 !important;
  padding: 1px;
}


.legend button { 
  background-color: inherit;
  text-align: center;
  color: grey;
  font-family: 'Gotham-Book', Arial;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.legend .box { 
  color: black;
  font-size: 14px;
  font-family: 'Gotham-Book', Arial;
} 

.legend .box input {
  vertical-align: middle;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 2px;
}

.legend .box img {
  vertical-align: middle; 
  margin-bottom: 2px;
}



#change_arr {
  position: absolute;
  left: 90px;
  top: 3px;
  vertical-align: middle;
  font-size: 20px;
  margin-top: 5px;
}

#box ul {
  list-style: none;
  margin: 1px;
  padding: 0;
}

#legendBtn {
  display: none;
  outline: none;
  padding: 0 6px;
  height: 25px;
  width: 72px;
}
#toggleSliderBtn {
  outline: none;
  height: 29px;
  display: none;
}

@media (orientation: portrait) {
  .legend #box li {
    background-color: lightgrey;
    height: 20px;
    margin: 0 5px;
    border-radius: 4px;
  }

  .legend #box li:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .legend .box { 
    width: 130px;
  } 

  .legend #box li span {
    vertical-align: middle;
  }

  #legend_arrow_portrait {
    padding-left: 10px;
  }

  #box ul {
    background-color: white;
    padding: 5px 0;
    margin: 0;
  }

  .legend button {
    width: 87%;
  }

  .legend {
    width: 132px;
  }
}

@media (orientation: landscape) { 
  .legend > div {
    float: left;
  }
  .legend .box {
    height: auto !important;
    padding: 2px 1px;
    border-radius: 0;
  }

  .legend #box li {
    background-color: lightgrey;     
    display: inline;
    vertical-align: middle;
    padding: 3px 0;
    border-radius: 4px;
  }

  .legend button div {
    padding-right: 13px;
  }

  .legend {
    height: 29px;
    max-width: 420px;
  }

  .legend button {
    margin: 1px 10px;
  }
}









/*INFOWINDOW CSS*/
#iw_container {
  overflow: hidden;
  font-family: 'Gotham-Bold', Arial;
  margin-bottom: 10px;
  border-radius: 11px;
}

#iw_title {
  color: white;
  font-size: 22px;
  padding: 10px;
  overflow: auto;
}

#iw_content {
  font-size: 14px;
  padding: 10px 20px 20px;
  max-height: 180px;
  overflow-x: auto;
  background-color: white;
}

#iw_container a, a:link, a:visited, a:active {
    color: #801a50;
}

#iw_container a:hover { 
  color: #cc1b75;
}

#iw_responsive {
  z-index: 11 !important; 
  margin-left: -500px;
}

#iw_responsive {
  max-width: 500px;
  left: 10px !important;
  top: 10px !important;
}

#iw_close {
  color: #801a50;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  border-radius: 16px;
  padding: 0 15px 3px 14px;

}

#iw_title span {
  display: inline;
  vertical-align: middle;
}

#iw_image {
  width: 100%;
  height: 225px;
  background-size: cover;
}

/*phone css*/
@media (max-height: 850px) and (max-width: 850px) and (orientation: portrait) {
  #legend_help {
    left: 142px !important;
  }
} 

/*css for info window*/
@media (min-width: 360px) { /*iphone*/
  #iw_responsive {
    width: 94%;
  }
}

@media (min-width: 768px) { /*sm*/
  #iw_responsive {
    width: 95%;
  }
}

@media (min-width: 992px) { /*md*/
  #iw_responsive {
    width: 65%;
  }
}

#map, #temp {
  height: 517px;
}
