/*GENERAL CSS*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100% !important; 
}

#map .landscape_mode, #map .portrait_mode {
  left: 2vw !important;
  overflow: hidden;
  top: 2vh !important;
}





/*LEGEND CSS*/
#legend_landscape, #legend_portrait {
  background: #f05a28; 
  border-radius: 2px;
  font-family: 'Gotham-Book', Arial;
  border: 3px solid #f05a28;
  left: 10px !important;
  overflow: hidden;
}

#legend_landscape {
  height: 29px;
}


#legend_landscape > div {
  float: left;
}

#legend_portrait button, #legend_landscape button { 
  background: #f05a28;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Gotham-Book', Arial;
  margin: auto;
  padding-top: 0;
  border: none;
  cursor: pointer;
}

#legend_landscape button {
  margin-top: 4px;
 }

#legend_landscape .box, #legend_portrait .box { 
  background: white;
  color: black;
  font-size: 14px;
  font-family: 'Gotham-Book', Arial;
  border: 1px solid #f05a28;
  border-radius: 5px;
} 

#legend_landscape .box {
  padding: 2px 1px;
}

#legend_portrait .box { 
  width: 140px;
} 

#legend_portrait .box input, #legend_landscape .box input {
  margin-left: 8px;
  vertical-align: middle;
}

#legend_portrait .box img, #legend_landscape .box img {
  vertical-align: middle; 
}

#toggleSliderBtn {
  display: none;
}

#legend_landscape #box li {
  display: inline;
  vertical-align: middle;
}

#legend_portrait #box li {
  height: 20px;
  margin: 8px auto;
}

#legend_portrait #box li span{
  vertical-align: middle;
}

#box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#legend_arrow_portrait {
  padding-left: 10px;
}

#legend_arrow_landscape {
  vertical-align: middle;
  padding-left: 5px;
}









/*INFOWINDOW CSS*/
#iw_container {
  overflow: hidden;
  font-family: 'Gotham-Bold', Arial;
}

#iw_title {
  background: #801a50;
  text-align: center;
  color: white;
  font-size: 22px;
  padding: 15px;
}

#iw_content {
  font-size: 14px;
  padding: 0px 20px;
  background: white;
  max-height: 45vh;
  overflow-x: auto;
}

#iw_container a, a:link, a:visited, a:active {
    color: #801a50;
}

#iw_container a:hover { 
  color: #cc1b75;
}

#iw_responsive {
  display: none;
  width: 30vw;
  z-index: 1 !important; 
  margin-left: -500px;
}

#iw_title img {
  position: absolute;
  left: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

#iw_title span {
  display: inline;
  vertical-align: middle;
  margin-left: 25px;
}

#iw_image {
  height: 172px;
  background-size: cover;
  background-position: center;
}
